<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentIndex</title>
</head>
<body>
{% extends "Application/base.html" %}
{% load staticfiles %}
{% block content %}
     <li>
                    <a href="#">Update Info</a>
                </li>
                <li>
                    <a href="#">Update Password</a>
                </li>
                <li>
                    <a href="#">My Classes</a>
                </li>

{% endblock content %}


</body>
</html>