<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>

<body>
{% extends "Application/student/Student.html"%}
{% block content %}
<div style="margin-top: 50px" class="main-page-heading">
    <h4>About us</h4>
<p>Student Enrollment System is product developed by Admire Inc. </p>
<p> This product is solely for the business purpose and violation of copyright shall be punished</p>
<p> @copyright 2016. All rights reserved </p>
</div>
{% endblock content %}
</body>
</html>