<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        {% extends "Application/base.html" %}
        {% load staticfiles %}
        {% block content %}

        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Code</th>
                    <th>Course Fee</th>
                    <th>Instructor</th>
                </tr>
            </thead>
              {% for course in courses %}
            <tbody>
                <tr class="info ">
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_code}}</td>
                    <td>{{course.course_fee}}</td>
                    <td>{{course.instructor.firstname}} {{course.instructor.lastname}}</td>
                    <td><a href="/student/enroll/{{course.id}}"></a></td>
                    <td></td><button class="btn btn-success">Get Enrolled</button></a></td>
                    </tr>
            </tbody>
              {% endfor %}
        </table>

        {% endblock content %}
    </body>
</html>