<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% extends "Application/base.html" %}
{% load staticfiles %}
{% block sidebar %}
     <li>
                    <a href="">Update Info</a>
                </li>
                <li>
                    <a href="">Update Password</a>
                </li>
                <li>
                    <a href="#">View Classes</a>
                </li>

{% endblock sidebar %}
{% block content %}
<h1> you sure can update the information</h1>
{% endblock content %}
</body>
</html>