<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>

<body>
{% extends "Application/instructor/instructor.html"%}
{% block content %}
<div style="margin-top: 50px" class="main-page-heading">
    <h4>Contact us</h4>
<p>If you need any kind of assist regarding the login, fell free to contact us at</p>
<p> Student Enrollment Center</p>
    <p> University of Central Missouri</p>
    <p> Warrensburg, MO </p>
    <p> 64093</p>
    <p> Phone: (660)-313-2324</p>
</div>
{% endblock content %}
</body>
</html>