<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
{% extends "Application/instructor/Instructor.html"%}
{% block content %}
<div style="margin-top: 50px" class="main-page-heading">
<h4>Student Enrollment Center</h4>
<p> Welcome to the Student Enrollment Center. We provide you a facility to let you choose your subject.</p>
    <p> We are located in Warrensburg and our technical staffs are active 16 hours a day.</p>
    <p>Have a good time!</p>
</div>
{% endblock content %}
</body>
</html>